.resend-form {
    padding: 48px 0;
}

.resend-form__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8px;
}

.resend-form__form {
    padding: 24px 80px;
    width: 35vw;
}

@media screen and (max-width: 1200px) {
    .resend-form__form {
        width: 60vw;
    }
}

.resend-form__group {
    margin-bottom: 32px;
}

.resend-form__input {
    display: block;
    padding: 8px 12px;
    width: 100%;
    height: 48px;
    border: 2px solid #909090;
    border-radius: 6px;
}

.resend-form__error-message {
    white-space: nowrap;
    color: #cf2222;
}

.resend-form__button {
    display: block;
    padding: 8px 12px;
    width: 100%;
    height: 48px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    background-color: #214be0;
    color: #fff;
    cursor: pointer;

    &:hover {
        opacity: 0.7;
    }
}

.resend-form__link {
    text-align: center;
}

.resend-form__link-more {
    font-size: 16px;
    color: #909090;
}

.resend-form__link-register {
    text-decoration: none;
    color: #214be0;
    background-color: transparent;
    transition: color .3s ease;

    &:hover {
        background-color: #909090;
        color: #fff;
        opacity: 0.5;
    }
}