.attendance {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 48px;
}

.attendance-inner {
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 70%;
}

.attendance-list{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
}

.attendance-list__text  {
    white-space: nowrap;
    padding: 5px 40px;
    font-size: 24px;
}

.attendance-list__button {
    display: flex;
    align-items: center;
    padding: 1px 16px;
    width: 100%;
    border: 1px solid#214be0;
    border-radius: 3px;
    background-color: #fff;
    cursor: pointer;
}

.attendance-list__button-before,
.attendance-list__button-after {
    color: #214be0;
}

.attendance__table {
    margin: 16px 0 16px;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    table-layout: fixed;
}

.attendance__row:first-child th {
    padding: 24px 48px;
    white-space: nowrap;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

.attendance__row td {
    border-bottom: 1px solid #000;
    padding: 24px 48px;
}

.attendance__row:last-child td {
    border-bottom: none;
}

.attendance__table th,
.attendance__table td {
    white-space: nowrap;
    font-size: 18px;
    width: 20%;
}

.attendance__table th,
.attendance__table td {
    vertical-align: middle;
}

.attendance__status {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    white-space: nowrap;
    width: 100%;
}

.attendance__status-text {
    color: #000000;
}