* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
    background-color: #f2f2f2;
    font-family: "Noto Sans JP", sans-serif;
}

input::placeholder {
    color: #909090;
}

/* ヘッダー */
.header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    padding: 0 32px;
    background-color: #fff;
    color: #000;
    flex-shrink: 0;
    z-index: 100;
}

.header__logo {
    margin-right: auto;
    font-size: 32px;
    color: #000;
}

/* ヘッダーナビ */
.header-nav {
    display: flex;
    align-items: center;
}

.header-nav__list {
    display: flex;
    list-style: none;
}

.header-nav__button {
    display: inline;
}

.header-nav__link,
.header-nav__button-submit {
    display: inline-block;
    padding: 8px 16px;
    text-decoration: none;
    white-space: nowrap;
    color: #000;
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
    background-color: transparent;
        transition: color .3s ease, background-color .3s ease;

        &:hover {
            background-color: #909090;
            color: #fff;
            opacity: 0.5;
        }
}

.header-nav__item:not(:last-child) {
    margin-right: 32px;
}

/* コンテンツ */
.content {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: 100px;
    margin-bottom: 50px;
    background-color: #f2f2f2;
    flex: 1;
    overflow: auto;
}

.content__heading {
    margin: 48px 0 0;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
}

/* フッター */
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    padding: 0 32px;
    background-color: #fff;
    color: #000;
}

.footer__logo {
    font-size: 14px;
    font-weight: bold;
    color: #000;
}

/* ページネーション */
.pagination{
    display: flex;
    justify-content: center;
    list-style: none;
}

.pagination li:not(.active) {
    background-color: #fff;
    color: #2284cf;
    border: 1px solid #d7dbde;
    padding: 8px 16px;
}

.pagination li:not(:last-child) {
    border-right: none;
}

.pagination a {
    color: #2284cf;
    text-decoration: none;
        &:hover {
                color: #2284cf;
                opacity: 0.5;
            }
}

.pagination__link {
    text-decoration: none;
    &:hover {
            background-color: #2284cf;
            opacity: 0.5;
        }
}

.active {
    padding: 8px 16px;
    border: 1px solid #2284cf;
    background-color: #2284cf;
    color: #FFF;
}

@media (max-width: 600px) {
    .header, .footer {
        padding: 10px;
    }
}